fastapi==0.103.1
uvicorn==0.23.2
# pandas==2.1.0
# numpy==1.25.2
# scikit-learn==1.3.0
groq==0.13.0
pydantic==2.4.2
python-multipart==0.0.6
requests==2.31.0
psycopg2-binary==2.9.7

pypdf
python-dotenv
sqlalchemy
aiofiles
bcrypt
PyJWT
redis==5.0.1
gunicorn==21.2.0
SQLAlchemy>=2.0
asyncpg
greenlet
cloudinary==1.41.0
pytest
httpx==0.27.2
pytest-asyncio
aiosqlite
